* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto";
  font-size: 15px;
  color: #000000;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-1 {
  flex: 8.3% 0 0;
}
.col-2 {
  flex: 16.6% 0 0;
}
.col-3 {
  flex: 25% 0 0;
}
.col-4 {
  flex: 33.3% 0 0;
}
.col-5 {
  flex: 41.6% 0 0;
}
.col-6 {
  flex: 50% 0 0;
}
.col-7 {
  flex: 58.3% 0 0;
}
.col-8 {
  flex: 66.6% 0 0;
}
.col-9 {
  flex: 75% 0 0;
}
.col-10 {
  flex: 83% 0 0;
}
.col-11 {
  flex: 91.6% 0 0;
}
.col-12 {
  flex: 100% 0 0;
}

.black-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 40px;
}
.black-background p {
  color: white;
  font-size: 14px;
  line-height: 18px;
}
.topbar nav {
  display: flex;
  justify-content: space-between;

  position: absolute;

  top: 50px;
  left: 5px;
  right: 5px;
}
.topbar nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  padding-right: 30px;
  line-height: 18px;
}
.topbar nav ul {
  list-style-type: none;
}
.baseline {
  display: flex;
  align-items: baseline;
}
.header-background img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.header-background .brown-background {
  background-color: #996b60;
}
.brown-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
}
.header-background p {
  color: white;
  font-size: 10px;
  margin-left: 40px;
}
.header-background h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  width: 350px;
  margin-left: 40px;
  color: white;
}
.header-background button {
  padding: 10px 40px;
  background-color: #996b60;
  border: 1px white solid;
  font-size: 10px;
  margin-left: 40px;
  margin-top: 30px;
}

.flexbox {
  display: flex;
  justify-content: space-around;

  margin-top: 40px;
  padding-bottom: 30px;
  margin-left: 40px;
  margin-right: 40px;
  border-bottom: gainsboro 2px solid;
  margin-bottom: 50px;
}
.flexbox .card-content {
  text-align: center;
  font-size: 12px;
  padding-bottom: 30px;
}
.flexbox .card-img {
  width: 80%;
  margin-left: 40px;
}

.flexbox-1 {
  display: flex;
}
.flexbox-1 h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  width: 400px;
}
.flexbox-1 a {
  display: flex;
  justify-content: center;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
