* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto";
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-1 {
  flex: 8.3% 0 0;
}
.col-2 {
  flex: 16.6% 0 0;
}
.col-3 {
  flex: 25% 0 0;
}
.col-4 {
  flex: 33.3% 0 0;
}
.col-5 {
  flex: 41.6% 0 0;
}
.col-6 {
  flex: 50% 0 0;
}
.col-7 {
  flex: 58.3% 0 0;
}
.col-8 {
  flex: 66.6% 0 0;
}
.col-9 {
  flex: 75% 0 0;
}
.col-10 {
  flex: 83% 0 0;
}
.col-11 {
  flex: 91.6% 0 0;
}
.col-12 {
  flex: 100% 0 0;
}

.black-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 50px;
}
.black-background p {
  color: white;
  font-size: 14px;
  line-height: 18px;
}
.topbar nav {
  display: flex;
  justify-content: space-between;

  position: absolute;

  top: 80px;
  left: 80px;
  right: 80px;
}
.topbar nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  padding-right: 70px;
}
.topbar nav ul {
  list-style-type: none;
}
.baseline {
  display: flex;
  align-items: baseline;
}
.header-background img {
  width: 100%;
  height: 800px;
  object-fit: cover;
}
.header-background .brown-background {
  background-color: #996b60;
}
.brown-background {
  display: flex;
  align-items: flex-end;
  height: 800px;
}
.brown-background .card-content {
  margin-left: 50px;
  margin-bottom: 100px;
}
.brown-background .card-content h1 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 73px;
  line-height: 96px;
}
.brown-background .card-content p {
  color: white;
}
.brown-background .card-content button {
  padding: 20px 60px;
  background-color: #996b60;
  border: 1px white solid;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  margin-top: 40px;
}

.row.flexbox {
  display: flex;
  justify-content: space-between;

  padding-top: 30px;
  padding-bottom: 40px;
}
.row.flexbox .card-img {
  padding-left: 90px;
}
.row.flexbox .card-content {
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  padding-bottom: 30px;
}

.flexbox-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  padding-top: 60px;

  border-top: 2px solid gainsboro;
  margin-left: 60px;
  margin-right: 60px;
}
.flexbox-1 h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 64px;
  line-height: 80px;
  width: 700px;

  margin-bottom: 30px;
}
.flexbox-1 a {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.row.flexbox-2 {
  display: flex;
  justify-content: space-evenly;

  padding-left: 50px;
  margin-top: 80px;
  padding-bottom: 150px;
  border-bottom: 2px solid gainsboro;
  margin-left: 60px;
  margin-right: 60px;
}
.row.flexbox-2 .card-img {
  width: 382px;
}
.row.flexbox-2 .card-content h4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 31px;
  line-height: 44px;
  text-align: center;

  margin-top: 5px;
  margin-right: 60px;
}
.row.flexbox-2 .card-content p {
  text-align: center;
  font-size: 16px;
  line-height: 28px;

  padding-right: 40px;
  margin-top: -25px;
}
.row.flexbox-2 .card-content button {
  background-color: #191919;
  color: white;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;

  padding: 15px 60px;
  margin-left: 100px;
  margin-top: 10px;
}

.box img {
  max-width: 100%;
  padding: 60px;
}
.flexbox-3 {
  display: flex;
  align-items: center;

  margin: 0 60px;
  margin-top: -50px;

  border-bottom: 2px solid gainsboro;
  padding-bottom: 80px;
}
.flexbox-3 h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 53px;
  line-height: 80px;

  margin-right: 270px;
}
.flexbox-3 p {
  font-size: 18px;
  line-height: 32px;

  padding-left: 50px;
}

.row.flexbox-5 .card.card-horizonal {
  display: flex;
}
.row.flexbox-5 {
  margin: 60px;
}
.row.flexbox-5 .card.card-horizonal .card-img {
  width: 880px;
  height: 645px;
}
.row.flexbox-5 .card.card-horizonal .card-content {
  margin-right: 69px;
  margin-top: 40px;
}
.row.flexbox-5 .card.card-horizonal .card-content h2 {
  font-size: 30px;
  line-height: 44px;
}
.row.flexbox-5 .card.card-horizonal .card-content h1 {
  font-size: 36px;
  line-height: 44px;
}
.row.flexbox-5 .card.card-horizonal .card-content p {
  font-size: 18px;
  line-height: 32px;
}

.row.flexbox-6 {
  display: flex;
  justify-content: space-between;

  background-color: black;

  padding-top: 80px;
  padding-bottom: 50px;
  margin-top: -30px;
}
.row.flexbox-6 p {
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 32px;
}
.row.flexbox-6 a {
  display: flex;
  justify-content: center;
  color: #8a8a8a;
  text-decoration: none;
  text-transform: capitalize;
}

.row.flexbox-7 {
  margin: 60px;
}
.row.flexbox-7 .card.card-horizonal {
  display: flex;
}
.row.flexbox-7 .card.card-horizonal .card-img {
  width: 550px;
  height: 470px;
}
.row.flexbox-7 .card.card-horizonal .card-content h1 {
  font-size: 64px;
  line-height: 80px;
  font-family: "Times New Roman", Times, serif;
}
.row.flexbox-7 .card.card-horizonal .card-content p {
  font-size: 18px;
  line-height: 32px;
}
.row.flexbox-7 .card.card-horizonal .card-content a {
  font-size: 12px;
  line-height: 18px;

  text-decoration: none;
}
