* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto";
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Times New Roman', Times, serif;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-1 {
  flex: 8.3% 0 0;
}
.col-2 {
  flex: 16.6% 0 0;
}
.col-3 {
  flex: 25% 0 0;
}
.col-4 {
  flex: 33.3% 0 0;
}
.col-5 {
  flex: 41.6% 0 0;
}
.col-6 {
  flex: 50% 0 0;
}
.col-7 {
  flex: 58.3% 0 0;
}
.col-8 {
  flex: 66.6% 0 0;
}
.col-9 {
  flex: 75% 0 0;
}
.col-10 {
  flex: 83% 0 0;
}
.col-11 {
  flex: 91.6% 0 0;
}
.col-12 {
  flex: 100% 0 0;
}
.black-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 50px;
}
.black-background h5 {
  color: white;
  font-family: Roboto;
}
header {
  background-color: #996b60;
  height: 800px;
}
